language: go

go:
  - "1.11.x"

sudo: required

env:
  - GO111MODULE=on

services:
  - docker

install:
  - docker build -t ethresearch/sharding-p2p:latest .
  - docker run -d --name p2p ethresearch/sharding-p2p:latest

before_install:
  - go mod download

script:
  - go test -v ./...
  - ./cli-example/iterate_all_rpc_call.sh
  - docker ps | grep -q p2p
